/* Variabler*/
:root {
  /* Farger */
  --off-white: #F6F3EC;
  --dark-blue: #0A3A7A;
  --blue: #0D5EAF;
  --orange: #CC3B01;
  --off-black: #1E1E1E;
  --grey: rgba(30, 30, 30, 0.25); /* #1E1E1E på 25 % */

  /* Fonter */
  --font-display: "Erica One", cursive;
  --font-body: "Inter", Arial, sans-serif;
}

/* teksstiler*/
body {
  margin: 0;
  background-color: var(--off-white);
  color: var(--off-black);
  font-family: var(--font-body);
  font-size: 24px;
}

h1 {
  font-family: var(--font-display);
  font-size: 48px;
  font-weight: 400; /*regular*/
  color: var(--dark-blue);
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-size: 32px;
  font-weight: 700; /*bold*/
}

p {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

/*for pille knappene*/
/*feks class= primary pillbutton*/
.pillbutton{
  border-radius: 100px;
  width: 235px;
  height: 50px;
  font-family: var(--font-body);

  display: inline-flex;      /* gjør at width/height virker */
  align-items: center;       /* teksten midt i, vertikalt */
  justify-content: center;   /* teksten midt i, horisontalt */
  text-decoration: none;     /* fjerner understreken */
  box-sizing: border-box;    /* 50px inkluderer border */
}
/*den oransje knappen*/
.primary {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  color: var(--off-white);
}

/*de hvite knappene med blå border*/
.secondary{
  background-color: var(--off-white);
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}
